:root {
  --main-color-white: white;
  --text-color-navy: #2e2f42;
  --text-color-slate: #434455;
  --text-color-cloud: #f4f4fd;
  --text-color-logo: #4d5ae5;
  --background-color: #2e2f42;
  --button-hover-color: #404bbf;
  --logo-font-family: "Raleway", sans-serif;
  --text-font-family: "Roboto", sans-serif;
}

body {
  font-family: var(--text-font-family);
  background-color: var(--main-color-white);
  color: var(--text-color-slate);
}

.nav-link {
  color: var(--text-color-navy);
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.nav-link:hover .nav-link:focus {
  color: var(--text-color-cloud);
}

.list {
  list-style: none;
}

.logo {
  color: var(--text-color-logo);
  font-family: var(--logo-font-family);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17%;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-second-word {
  color: var(--text-color-navy);
}

.link {
  text-decoration: none;
}

.address {
  color: var(--text-color-slate);
  font-size: 16px;
  font-style: normal;
  line-height: 150%;
  letter-spacing: 0.32px;
}

.address:hover .address:focus {
  color: var(--text-color-cloud);
}

.button-filter {
}

.foooter-bg {
  background-color: var(--background-color);
}

.footer-text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.32px;
  color: var(--text-color-cloud);
}

.logo-second-word-footer {
  color: var(--text-color-cloud);
}
